.card-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  position: relative;
  -webkit-animation: fade-in 1s ease-out;
          animation: fade-in 1s ease-out;
}

.card-options .card-option {
  margin: 10px 0;
  padding: 5px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 50% 30%;
      grid-template-columns: 80px 50% 30%;
      grid-template-areas: "icon name special" "icon description special";
  -webkit-transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
}

.theme-light .card-options .card-option {
  border: solid 2px rgba(17, 62, 130, 0.2);
}

.theme-dark .card-options .card-option {
  border: solid 2px #1c1e24;
}

.theme-light .card-options .card-option {
  background-color: #fff;
}

.theme-dark .card-options .card-option {
  background-color: #24272e;
}

.card-options .card-option__icon {
  margin: 10px;
  width: 40px;
  height: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: invert(58%) sepia(36%) saturate(320%) hue-rotate(183deg) brightness(88%) contrast(80%);
          filter: invert(58%) sepia(36%) saturate(320%) hue-rotate(183deg) brightness(88%) contrast(80%);
  -webkit-transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
}

.card-options .card-option__name {
  font-weight: bold;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
}

.theme-light .card-options .card-option__name {
  color: #364496;
}

.theme-dark .card-options .card-option__name {
  color: #7b8bae;
}

.card-options .card-option__description {
  opacity: 0.5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  transition: all 0.2s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
}

.theme-light .card-options .card-option__description {
  color: #364496;
}

.theme-dark .card-options .card-option__description {
  color: #7b8bae;
}

.card-options .card-option__loading-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 20px;
  height: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: special;
  -webkit-animation: spin 0.4s ease-out infinite;
          animation: spin 0.4s ease-out infinite;
}

.card-options .card-option:hover {
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 10px;
  margin: 2.5px;
}

.theme-light .card-options .card-option:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(17, 62, 130, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(17, 62, 130, 0.2);
}

.theme-dark .card-options .card-option:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #1c1e24;
          box-shadow: 0px 0px 20px 0px #1c1e24;
}

.card-options .card-option:hover .card-option__icon {
  margin: 12.5px 12.5px 12.5px 10px;
}

.card-options .card-option:hover .card-option__name {
  font-size: 1.1em;
}

.theme-light .card-options .card-option:hover .card-option__name {
  color: #364496;
}

.theme-dark .card-options .card-option:hover .card-option__name {
  color: #7b8bae;
}

.card-options .card-option:hover .card-option__description {
  font-size: 1.1em;
  opacity: 0.7;
}

.theme-light .card-options .card-option:hover .card-option__description {
  color: #000;
}

.theme-dark .card-options .card-option:hover .card-option__description {
  color: #fff;
}

.card-options .card-option:active {
  padding: 15px;
}

.card-options .card-option--active {
  width: 40%;
}

.theme-light .card-options .card-option--active {
  background-color: #364496;
}

.theme-dark .card-options .card-option--active {
  background-color: #7b8bae;
}

.theme-light .card-options .card-option--active {
  color: #fff;
}

.theme-dark .card-options .card-option--active {
  color: #24272e;
}

.theme-light .card-options .card-option--active .card-option__name {
  color: #fff;
}

.theme-dark .card-options .card-option--active .card-option__name {
  color: #fff;
}

.theme-light .card-options .card-option--active .card-option__description {
  color: #fff;
}

.theme-dark .card-options .card-option--active .card-option__description {
  color: #fff;
}

.card-options .card-option--active .card-option__icon {
  -webkit-filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(33deg) brightness(105%) contrast(106%);
          filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(33deg) brightness(105%) contrast(106%);
}

.theme-light .card-options .card-option--active:hover .card-option__name {
  color: #fff;
}

.theme-dark .card-options .card-option--active:hover .card-option__name {
  color: #fff;
}

.theme-light .card-options .card-option--active:hover .card-option__description {
  color: #fff;
}

.theme-dark .card-options .card-option--active:hover .card-option__description {
  color: #fff;
}

@media (max-width: 1000px) {
  .card-options .card-option {
    width: 95%;
    margin: 5px;
    -ms-grid-columns: 55px 70% 10%;
        grid-template-columns: 55px 70% 10%;
  }
  .card-options .card-option__icon {
    margin: 5px;
  }
  .card-options .card-option--active {
    width: 80%;
  }
  .card-options .card-option:hover {
    padding: 5px;
    margin: 0px;
  }
  .card-options .card-option:hover .card-option__icon {
    width: 40px;
    height: 40px;
  }
  .card-options .card-option:hover .card-option__name {
    font-size: 1em;
  }
  .card-options .card-option:hover .card-option__description {
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .card-options .card-option {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .card-options--popup-opened {
    height: 100%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=card-options.css.map */