@import "../../../../scss/variables.scss";

.card-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  position: relative;

  animation: fade-in 1s ease-out;

  .card-option {
    margin: 5px 0;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;

    @include themed-stroke("2", "outline-color");
    @include theme-aware("background-color", "tab-background");

    display: grid;
    grid-template-columns: 60px 50% 30%;
    grid-template-areas:
      "icon name special"
      "icon description special";

    transition: all 0.2s ease-out, color 0.6s ease-out,
      background-color 0.6s ease-out;

    &__icon {
      margin: 10px;
      width: 30px;
      height: 30px;
      grid-area: icon;
      user-select: none;
      filter: invert(26%) sepia(9%) saturate(7482%) hue-rotate(206deg)
        brightness(93%) contrast(93%);

      transition: all 0.2s ease-out, color 0.6s ease-out,
        background-color 0.6s ease-out;

      &--dark {
        filter: invert(58%) sepia(36%) saturate(320%) hue-rotate(183deg)
          brightness(88%) contrast(80%);
      }
    }
    &__name {
      font-weight: bold;
      align-self: end;
      grid-area: name;
      user-select: none;
      transition: all 0.2s ease-out, color 0.6s ease-out,
        background-color 0.6s ease-out;

      @include theme-aware("color", "primary-light");
    }
    &__description {
      opacity: 0.5;
      grid-area: description;
      user-select: none;
      transition: all 0.2s ease-out, color 0.6s ease-out,
        background-color 0.6s ease-out;

      @include theme-aware("color", "primary-light");
    }
    &__loading-icon {
      align-self: center;
      justify-self: center;
      width: 20px;
      height: 20px;
      grid-area: special;

      animation: spin 0.4s ease-out infinite;
    }

    transition: all 0.2s ease-out, color 0.6s ease-out,
      background-color 0.6s ease-out;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0);
      padding: 5px;
      margin: 2.5px;

      @include themed-shadow("0", "0", "20", "0", "outline-color");

      transform: translateX(10px);

      .card-option__icon {
        margin: 12.5px 12.5px 12.5px 10px;
      }
      .card-option__name {
        font-size: 1.1em;
        @include theme-aware("color", "primary-light");
      }
      .card-option__description {
        font-size: 1.1em;
        opacity: 0.7;
        @include theme-aware("color", "text-color");
      }
    }

    &:active {
      padding: 15px;
    }

    &--active {
      width: 40%;
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("color", "background");

      .card-option__name {
        @include theme-aware("color", "always-white");
      }
      .card-option__description {
        @include theme-aware("color", "always-white");
      }
      .card-option__icon {
        filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(33deg)
          brightness(105%) contrast(106%);
      }

      &:hover {
        .card-option__name {
          @include theme-aware("color", "always-white");
        }
        .card-option__description {
          @include theme-aware("color", "always-white");
        }
      }
    }

    @include width1000 {
      width: 95%;
      margin: 5px;

      grid-template-columns: 55px 70% 10%;

      &__icon {
        margin: 5px;
      }

      &--active {
        width: 80%;
      }

      &:hover {
        padding: 5px;
        margin: 0px;

        .card-option__icon {
          width: 40px;
          height: 40px;
        }
        .card-option__name {
          font-size: 1em;
        }
        .card-option__description {
          font-size: 1em;
        }
      }
    }

    @include width1000 {
      padding: 0;
    }
  }

  &--popup-opened {
    @include width768 {
      height: 100%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
