@import "../../../../scss/variables.scss";

.card-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  position: relative;

  .card-option {
    margin: 10px 0;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;

    @include themed-stroke("2", "outline-color");
    @include theme-aware("background-color", "background");

    display: grid;
    grid-template-columns: 80px 50% 30%;
    grid-template-areas:
      "icon name special"
      "icon description special";

    transition: all 0.4s $cbInOut;

    &__icon {
      margin: 10px;
      width: 40px;
      height: 40px;
      background-color: rgb(0, 255, 255);
      grid-area: icon;
      user-select: none;
      transition: all 0.4s $cbInOut;
    }
    &__name {
      font-weight: bold;
      align-self: end;
      grid-area: name;
      user-select: none;
      transition: all 0.4s $cbInOut;

      @include theme-aware("color", "primary-light");
    }
    &__description {
      opacity: 0.5;
      grid-area: description;
      user-select: none;
      transition: all 0.4s $cbInOut;
    }
    &__loading-icon {
      align-self: center;
      justify-self: center;
      width: 20px;
      height: 20px;
      grid-area: special;

      animation: spin 0.4s ease-out infinite;
    }

    transition: all 0.4s $cbInOut;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0);
      padding: 10px 10px;
      margin: 0;

      @include themed-shadow("0", "0", "20", "0", "outline-color");

      .card-option__icon {
        width: 50px;
        height: 50px;
      }
      .card-option__name {
        font-size: 1.1em;
        @include theme-aware("color", "primary-light");
      }
      .card-option__description {
        font-size: 1.1em;
        @include theme-aware("color", "primary-light");
      }
    }

    &:active {
      padding: 15px;
    }

    &--active {
      width: 40%;
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("color", "background");

      .card-option__name {
        @include theme-aware("color", "background");
      }

      &:hover {
        .card-option__name {
          @include theme-aware("color", "background");
        }
        .card-option__description {
          @include theme-aware("color", "background");
        }
      }

      .card-option__icon {
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
