@import "../../../scss/variables.scss";

.section {
  min-width: 50px;
  min-height: 50px;
  padding: 20px;
  margin: 20px;
  opacity: 0;
  @include theme-aware("background-color", "background");

  animation: fade-in 1s 0.4s ease-out forwards;

  &--shadow {
    @include themed-shadow("0", "0", "20", "0", "outline-color");
  }
  &--stroke {
    @include themed-stroke("2", "outline-color");
  }

  &--main {
    position: relative;
  }
  &--second {
    height: 100%;
  }
  &--third {
    height: 100%;
  }
  &--small {
  }

  @include width1000 {
    margin: 5px;
    padding: 5px;

    &--third {
      height: 100%;
      padding: 5px 20px;
    }
  }

  @include width640 {
    margin: 0;
    padding: 0;

    &--shadow {
      @include themed-shadow("0", "0", "0", "0", "background")
    }

    &--main {
      width: 70%;
      margin: 0 auto;
    }

    &--third {
      height: calc(100% - 60px)
    }
  }
}
