.month-ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.month-ctrl__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  cursor: default;
  height: 30%;
}

.theme-light .month-ctrl__month {
  color: #364496;
}

.theme-dark .month-ctrl__month {
  color: #727272;
}

.month-ctrl .buttons-container {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.month-ctrl .buttons-container .month-button {
  margin-bottom: 10px;
  border: none;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.theme-light .month-ctrl .buttons-container .month-button {
  background-color: #131e56;
}

.theme-dark .month-ctrl .buttons-container .month-button {
  background-color: #202020;
}

.theme-light .month-ctrl .buttons-container .month-button {
  color: #fff;
}

.theme-dark .month-ctrl .buttons-container .month-button {
  color: #202020;
}

.month-ctrl .buttons-container .month-button img {
  margin: 0 20px;
}

.month-ctrl .buttons-container .month-button p {
  margin: 0;
}

.month-ctrl .buttons-container .month-button--disabled {
  background-color: #c5c9cd !important;
  color: black !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.month-ctrl .buttons-container .month-button--temp-disabled {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0.9;
  pointer-events: none;
  cursor: default;
}

.month-ctrl .buttons-container .month-button--left {
  width: 45%;
}

.month-ctrl .buttons-container .month-button--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80%;
}

.month-ctrl .buttons-container .month-button--right img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.theme-light .month-ctrl .buttons-container .month-button:hover {
  background-color: #364496;
}

.theme-dark .month-ctrl .buttons-container .month-button:hover {
  background-color: #727272;
}

.month-ctrl .buttons-container .month-button:active {
  -webkit-transform: scale(1.01, 0.99);
          transform: scale(1.01, 0.99);
}

.theme-light .month-ctrl .buttons-container .month-button:active {
  background-color: #131e56;
}

.theme-dark .month-ctrl .buttons-container .month-button:active {
  background-color: #202020;
}

.month-ctrl .buttons-container .month-button:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .month-ctrl__month {
    margin: 10px 0;
  }
  .month-ctrl .buttons-container {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .month-ctrl .buttons-container .month-button {
    margin: 10px;
    height: 30px;
  }
  .month-ctrl .buttons-container .month-button--left {
    width: 40%;
  }
  .month-ctrl .buttons-container .month-button--right {
    width: 40%;
  }
}

@media (max-width: 640px) {
  .month-ctrl__month {
    margin: 5px;
  }
  .month-ctrl .buttons-container .month-button {
    margin: 5px;
  }
  .month-ctrl .buttons-container .month-button img {
    margin: 0 5px;
  }
}
/*# sourceMappingURL=month-ctrl.css.map */