@import "../../../scss/variables.scss";

.month-ctrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__month {
    font-weight: bold;
    margin-bottom: 20px;
    cursor: default;
    @include theme-aware("color", "primary-light");
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .month-button {
      border: none;
      border-radius: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      margin-bottom: 20px;
      user-select: none;
      cursor: pointer;

      @include theme-aware("background-color", "primary-dark");
      @include theme-aware("color", "background");

      transition: background-color 0.1s ease-out;

      img {
        margin: 0 20px;
      }

      p {
        margin: 0;
      }

      &--disabled {
        background-color: #c5c9cd !important;
        color: black !important;
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
      }
      &--left {
        width: 45%;
      }
      &--right {
        flex-direction: row-reverse;
        align-self: flex-end;
        width: 80%;

        img {
          transform: scaleX(-1);
        }
      }

      &:hover {
        @include theme-aware("background-color", "primary-light");
      }
      
      &:active {
        @include theme-aware("background-color", "primary-dark");
        transform: scale(1.01, 0.99);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
