@import "../../../../scss/variables.scss";

.cards {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 40%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease-out, color 0.6s ease-out, background-color 0.6s ease-out;
  animation: pop-in 0.4s ease-out;

  .card {
    position: absolute;
    cursor: pointer;
    user-select: none;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.6s ease-out, background-color 0.6s ease-out;

    &__image {
      width: 400px;

      @include width640 {
        width: 270px;
      }

      @include width360 {
        width: 240px;
      }
    }

    @include width768 {
      pointer-events: none;
      cursor: default;
    }
  }

  &__arrows {
    width: 100%;
    z-index: 5;
    user-select: none;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__arrow {
      opacity: 0.5;
      margin: 0 1vw;
      cursor: pointer;
      width: 70px;

      transition: all 0.4s ease-out;

      &:active {
        opacity: 1;
        transform: scale(1.2);
      }

      @include width640 {
        width: 50px;
      }
    }

    @include width768 {
      display: flex;
    }
  }

  @include width640 {
    height: 30%;
  }

  &--popup-opened {
    @include width768 {
      height: 0;
    }
  }
}
