@import "../../../../../../scss/variables.scss";

.success-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: popup-exit 0.2s 2.5s $cbIn forwards;

  &__image {
    height: 50px;
    width: 50px;
    margin: 50px;

    animation: pop-in 0.2s ease-out forwards;
  }
  &__message {
    font-weight: bold;
    @include theme-aware("color", "secondary");
    animation: fade-in 0.4s ease-out forwards;
  }
}

@keyframes popup-exit {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
