@import "../../../scss/variables.scss";

.history-page {
  position: relative;
  width: 100%;
  max-width: 1200px;
  max-height: 1000px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  &__left,
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__left {
    width: auto;
  }

  @include width1000 {
    height: 100%;
    max-width: 500px;
    flex-direction: column;

    &__left {
      width: 100%;
      align-items: unset;
    }
    &__right {
      width: 100%;
      height: 100%;
    }
  }
}
