@import "../../../scss/variables.scss";

// ========================== NAVBAR COMMON PROPS ==========================
.navbar {
  position: fixed;
  display: flex;
  @include themed-linear-gradient("primary-light", "primary-dark");

  .navbar-link {
    display: flex;
    align-items: center;
    cursor: pointer;

    * {
      user-select: none;
      transition: all 0s 0.1s step-end;
    }

    img {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(82deg)
        brightness(106%) contrast(101%);
    }

    //selected link props
    &--active {
      * {
        transition: all 0s 0.21s step-end;
      }

      animation: bump 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

      @include width1280 {
        animation: stretch-squeeze-both-ways 0.4s
          cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

        .navbar-link__text {
          opacity: 1;
          transition: opacity 0.4s 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
      }

      font-weight: bold;
    }
  }

  //navabar large properties
  flex-direction: column;
  width: 270px;
  margin: 10px;
  padding: 100px 0;
  height: calc(100% - 220px);
  border-radius: 20px;

  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .navbar-link {
    margin: 0 50px 40px;

    &__icon {
      margin-right: 20px;
    }
  }

  //navbar medium properties
  @include width1280 {
    width: 50px;
    border-radius: 100px;

    .navbar-link {
      margin: 0 10px 40px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__icon {
        margin: 0;
      }

      &__text {
        opacity: 0;
        position: absolute;
        transition: all 0.4s ease-in;
        font-size: 0.6em;
        bottom: -15px;
        pointer-events: none;
      }
    }
  }

  //navbar small properties
  @include width640 {
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    @include themed-linear-gradient("primary-dark", "primary-dark");

    margin: 10px;
    width: calc(100% - 20px);
    height: 55px;

    bottom: 0;

    z-index: 2;

    .navbar-link {
      margin: 0;
      padding: 5px 5px 0;
      border-radius: 0 0 10px 10px;
      align-self: flex-start;

      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &__text {
        bottom: 5px;
        opacity: 1;
        transition: all 0s step-end;
      }

      &--active {
        @include theme-aware("background-color", "background");

        img {
          animation: stretch-squeeze-side-ways 0.4s
            cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
        }

        div {
          animation: bump 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
        }

        animation: fade-in 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
      }
    }
  }
}

// ========================== NAVBAR LINK BG ==========================
.link-bg {
  //common
  position: absolute;
  @include theme-aware("background-color", "background");
  z-index: -1;

  &--animate {
    animation: stretch-squeeze-both-ways 0.4s
      cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  }

  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    color 0.6s ease-out, background-color 0.6s ease-out;

  transform-origin: right;

  //large
  height: 50px;
  width: 250px;
  right: -5px;
  border-radius: 100px 0 0 100px;

  //medium
  @include width1280 {
    width: 100px;
    padding-bottom: 20px;
  }

  //small
  @include width640 {
    display: none;
  }
}

// ========================== THEME BUTTON ==========================
.theme-button-container {
  // --------------- LARGE -------------------
  // --------------- LARGE -------------------
  margin: auto auto 0;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .navbar-link {
    padding: 9px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 0;
    @include theme-aware("background-color", "background");

    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      color 0.6s ease-out, background-color 0.6s ease-out;

    .icon-container {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include theme-aware("background-color", "primary-dark");

      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
        color 0.6s ease-out, background-color 0.6s ease-out;
      .icon {
        transform: scale(0.8);
      }
    }

    .text {
      width: 0;
      opacity: 0;
      font-weight: bold;
      @include theme-aware("color", "primary-dark");
      transition: opacity 0.2s ease-out,
        width 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.6s ease-out,
        background-color 0.6s ease-out;
    }
  }

  //theme-button hover
  &:hover {
    .navbar-link {
      width: 200px;
      padding: 9px 11px;

      .icon-container {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
      }

      .text {
        transition: opacity 0.2s 0.2s ease-out,
          width 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.6s ease-out,
          background-color 0.6s ease-out;
        width: 100%;
        opacity: 1;
      }
    }
  }

  //theme-button click
  &:active {
    .navbar-link {
      transform: scale(1.2, 0.8);
    }
  }

  // --------------- MEDIUM ---------------
  // --------------- MEDIUM ---------------
  @include width1280 {
    min-width: 0;
    width: 40px;

    .navbar-link {
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        background-color 0.6s ease-out;
      min-width: 50px;
      min-height: 50px;
      padding: 9px;

      .icon-container {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        margin: 0;
      }

      &__text {
        display: none;
      }
    }

    //theme-button hover
    &:hover {
      .navbar-link {
        min-width: 70px;
        min-height: 70px;
        padding: 9px;

        .icon-container {
          min-width: 40px;
          min-height: 40px;
          width: 40px;
          height: 40px;
          margin: 0;
        }
      }
    }

    //theme-button click
    &:active {
      .navbar-link {
        transform: scale(1.2, 0.8);
      }
    }
  }

  // --------------- SMALL ---------------
  // --------------- SMALL ---------------
  @include width640 {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    margin: 0;

    .navbar-link {
      min-width: unset;
      min-height: unset;
      padding: 0;
      align-self: center;

      .icon-container {
        min-width: unset;
        min-height: unset;
        width: unset;
        height: unset;
        margin: 0;
      }
    }

    &:hover {
      width: 50px;
      padding: 0;
      min-width: unset;

      .navbar-link {
        min-width: unset;
        min-height: unset;
        padding: 0;

        .icon-container {
          min-width: unset;
          min-height: unset;
          width: unset;
          height: unset;
          margin: 0;
        }
      }
    }
  }
}

// ======================================== THEMED SPECIALS ===========================================
.theme-light {
  .navbar {
    color: #fff;
  }
}
.theme-dark {
  .navbar {
    color: #fff;
  }
  .theme-button-container {
    .navbar-link {
      .navbar-link__text {
        color: #fff;
      }
    }
  }
}

.theme-light {
  .navbar-link {
    &--active {
      img {
        filter: invert(9%) sepia(78%) saturate(1933%) hue-rotate(220deg)
          brightness(103%) contrast(102%);
      }
      div {
        @include theme-aware("color", "primary-dark");

        @include width640 {
          @include theme-aware("color", "background");
        }
      }
    }
  }
}

// ======================================= ANIMATIONS ==========================================
@keyframes stretch-squeeze-both-ways {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 0.7);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes stretch-squeeze-side-ways {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes bump {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateX(20px);
  }
  to {
    transform: translateY(0);
  }
}
