@import "../../../../../../scss/variables.scss";

.popup-button {
  width: 80px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &--primary {
    @include theme-aware("background-color", "primary-light");
    @include theme-aware("color", "background");
    @include theme-aware("border-color", "primary-light");

    &:hover {
      @include theme-aware("background-color", "primary-dark");
      @include theme-aware("border-color", "primary-dark");
    }
    &:active {
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("border-color", "primary-light");
    }
    &:focus {
      outline: none;
    }
  }

  &--secondary {
    @include theme-aware("background-color", "background");
    @include theme-aware("color", "primary-dark");
    @include theme-aware("border-color", "outline-color");

    &:hover {
      @include theme-aware("background-color", "ternary");
      @include theme-aware("color", "background");
      @include theme-aware("border-color", "ternary");
    }
    &:active {
      @include theme-aware("background-color", "ternary");
      @include theme-aware("border-color", "background");
    }
    &:focus {
      outline: none;
    }
  }

  &--ternary {
    @include theme-aware("background-color", "background");
    @include theme-aware("color", "primary-dark");
    @include theme-aware("border-color", "outline-color");

    &:hover {
      @include theme-aware("background-color", "primary-dark");
      @include theme-aware("color", "background");
      @include theme-aware("border-color", "primary-dark");
    }
    &:active {
      @include theme-aware("background-color", "primary-dark");
      @include theme-aware("border-color", "background");
    }
    &:focus {
      outline: none;
    }
  }

  &--disabled {
    opacity: 0.5;
    border: none;
    pointer-events: none;

    @include theme-aware("background-color", "outline-color");
  }
}
