.popup-button {
  width: 80px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.theme-light .popup-button--primary {
  background-color: #364496;
}

.theme-dark .popup-button--primary {
  background-color: #7b8bae;
}

.theme-light .popup-button--primary {
  color: #fff;
}

.theme-dark .popup-button--primary {
  color: #fff;
}

.theme-light .popup-button--primary {
  border-color: #364496;
}

.theme-dark .popup-button--primary {
  border-color: #7b8bae;
}

.theme-light .popup-button--primary:hover {
  background-color: #131e56;
}

.theme-dark .popup-button--primary:hover {
  background-color: #4e5378;
}

.theme-light .popup-button--primary:hover {
  border-color: #131e56;
}

.theme-dark .popup-button--primary:hover {
  border-color: #4e5378;
}

.theme-light .popup-button--primary:active {
  background-color: #364496;
}

.theme-dark .popup-button--primary:active {
  background-color: #7b8bae;
}

.theme-light .popup-button--primary:active {
  border-color: #364496;
}

.theme-dark .popup-button--primary:active {
  border-color: #7b8bae;
}

.popup-button--primary:focus {
  outline: none;
}

.theme-light .popup-button--secondary {
  background-color: #fff;
}

.theme-dark .popup-button--secondary {
  background-color: #24272e;
}

.theme-light .popup-button--secondary {
  color: #364496;
}

.theme-dark .popup-button--secondary {
  color: #7b8bae;
}

.theme-light .popup-button--secondary {
  border-color: #364496;
}

.theme-dark .popup-button--secondary {
  border-color: #7b8bae;
}

.theme-light .popup-button--secondary:hover {
  background-color: #e83508;
}

.theme-dark .popup-button--secondary:hover {
  background-color: #ff2f2f;
}

.theme-light .popup-button--secondary:hover {
  color: #fff;
}

.theme-dark .popup-button--secondary:hover {
  color: #fff;
}

.theme-light .popup-button--secondary:hover {
  border-color: #e83508;
}

.theme-dark .popup-button--secondary:hover {
  border-color: #ff2f2f;
}

.theme-light .popup-button--secondary:active {
  background-color: #e83508;
}

.theme-dark .popup-button--secondary:active {
  background-color: #ff2f2f;
}

.theme-light .popup-button--secondary:active {
  border-color: #fff;
}

.theme-dark .popup-button--secondary:active {
  border-color: #24272e;
}

.popup-button--secondary:focus {
  outline: none;
}

.theme-light .popup-button--ternary {
  background-color: #fff;
}

.theme-dark .popup-button--ternary {
  background-color: #24272e;
}

.theme-light .popup-button--ternary {
  color: #364496;
}

.theme-dark .popup-button--ternary {
  color: #7b8bae;
}

.theme-light .popup-button--ternary {
  border-color: #364496;
}

.theme-dark .popup-button--ternary {
  border-color: #7b8bae;
}

.theme-light .popup-button--ternary:hover {
  background-color: #131e56;
}

.theme-dark .popup-button--ternary:hover {
  background-color: #4e5378;
}

.theme-light .popup-button--ternary:hover {
  color: #fff;
}

.theme-dark .popup-button--ternary:hover {
  color: #fff;
}

.theme-light .popup-button--ternary:hover {
  border-color: #131e56;
}

.theme-dark .popup-button--ternary:hover {
  border-color: #4e5378;
}

.theme-light .popup-button--ternary:active {
  background-color: #131e56;
}

.theme-dark .popup-button--ternary:active {
  background-color: #4e5378;
}

.theme-light .popup-button--ternary:active {
  border-color: #fff;
}

.theme-dark .popup-button--ternary:active {
  border-color: #24272e;
}

.popup-button--ternary:focus {
  outline: none;
}

.popup-button--disabled {
  opacity: 0.5;
  border: none;
  pointer-events: none;
}

.theme-light .popup-button--disabled {
  background-color: rgba(17, 62, 130, 0.2);
}

.theme-dark .popup-button--disabled {
  background-color: #1c1e24;
}
/*# sourceMappingURL=popup-button.css.map */