@import "../../../../scss/variables.scss";

.payment-tab {
  .friend-card {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 400px;

    grid-template-areas:
      "photo name right"
      "photo phone right";

    // animation: pop-in-vertical 5s 5s $cbInOut;

    transform-origin: top;

    &__photo {
      border: solid 2px;
      border-radius: 100px;
      width: 50px;
      box-sizing: border-box;

      @include theme-aware("border-color", "primary-light");
      grid-area: photo;
    }
    &__name {
      font-weight: bold;
      grid-area: name;
    }
    &__phone {
      opacity: 0.5;
      grid-area: phone;
    }
    &__payments {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      grid-area: right;

      &__amount {
        font-weight: bold;
        @include theme-aware("color", "primary-light");
        margin: 0 10px;

        &--in {
          @include theme-aware("color", "secondary");
        }
      }
      &__icon {
        height: 40px;
        width: 40px;
      }
    }

    &__send {
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("color", "always-white");
      border: none;
      font-weight: bold;
      border-radius: 5px;
      padding: 7px;
      cursor: pointer;

      &:hover {
        @include theme-aware("background-color", "primary-dark");
      }

      &:active {
        @include theme-aware("background-color", "primary-light");
      }

      &:focus {
        outline: none;
      }

      grid-area: right;
    }

    @include width640 {
      margin-top: 0;
    }
  }
}

.payments-simplebar {
  height: 90%;

  .simplebar-wrapper {
    // max-height: 850px;
    @include fade-masking;

    .simplebar-content-wrapper {
      padding: 0 40px;

      @include width640 {
        padding: 30px 10px;
      }
      .simplebar-content {
      }
    }
  }

  .simplebar-track.simplebar-vertical {
    width: 3px;
    overflow: visible;
    border-radius: 100px !important;
    margin: 2px 0;
    @include theme-aware("background-color", "outline-color");

    .simplebar-scrollbar {
      &:before {
        margin-left: -4px;
        width: 7px;
        @include theme-aware("background", "primary-light");
        opacity: 1;
      }
    }
  }
}

.buttons-container-payments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  button {
    width: 40%;
    height: 40px;
    margin: 0 0 20px;
    border: 2px solid;
    border-radius: 100px;
    @include theme-aware("border-color", "primary-light");
    @include theme-aware("background-color", "background");
    @include theme-aware("color", "primary-light");
    font-weight: bold;
    cursor: pointer;

    transition: color 0.6s ease-out, background-color 0.6s ease-out;

    &:focus {
      outline: none;
    }

    &:hover {
      @include theme-aware("border-color", "primary-dark");
      @include theme-aware("background-color", "primary-dark");
      @include theme-aware("color", "always-white");
    }

    &:active {
      @include theme-aware("border-color", "primary-light");
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("color", "always-white");
    }

    &.--active {
      @include theme-aware("border-color", "primary-light");
      @include theme-aware("background-color", "primary-light");
      @include theme-aware("color", "always-white");
    }

    @include widthAbove1000 {
      font-weight: bold;
      font-size: 1.2em;
      border: none;
      pointer-events: none;
      cursor: default;
      margin: 0;
      @include theme-aware("background-color", "background");
      @include theme-aware("color", "text-color");

      &.--active {
        border: none;
        @include theme-aware("background-color", "background");
        @include theme-aware("color", "text-color");
      }

      &.--hidden {
        display: none;
      }
    }
  }

  @include width640 {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
  }
}
