.payment-tab .friend-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 50% 30%;
      grid-template-columns: 20% 50% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
  max-width: 400px;
      grid-template-areas: "photo name right" "photo phone right";
  -webkit-transform-origin: top;
          transform-origin: top;
}

.payment-tab .friend-card__photo {
  border: solid 2px;
  border-radius: 100px;
  width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo;
}

.theme-light .payment-tab .friend-card__photo {
  border-color: #364496;
}

.theme-dark .payment-tab .friend-card__photo {
  border-color: #7b8bae;
}

.payment-tab .friend-card__name {
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

.payment-tab .friend-card__phone {
  opacity: 0.5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

.payment-tab .friend-card__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.payment-tab .friend-card__payments__amount {
  font-weight: bold;
  margin: 0 10px;
}

.theme-light .payment-tab .friend-card__payments__amount {
  color: #364496;
}

.theme-dark .payment-tab .friend-card__payments__amount {
  color: #7b8bae;
}

.theme-light .payment-tab .friend-card__payments__amount--in {
  color: #08d5e8;
}

.theme-dark .payment-tab .friend-card__payments__amount--in {
  color: #72baeb;
}

.payment-tab .friend-card__payments__icon {
  height: 40px;
  width: 40px;
}

.payment-tab .friend-card__send {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.theme-light .payment-tab .friend-card__send {
  background-color: #364496;
}

.theme-dark .payment-tab .friend-card__send {
  background-color: #7b8bae;
}

.theme-light .payment-tab .friend-card__send {
  color: #fff;
}

.theme-dark .payment-tab .friend-card__send {
  color: #fff;
}

.theme-light .payment-tab .friend-card__send:hover {
  background-color: #131e56;
}

.theme-dark .payment-tab .friend-card__send:hover {
  background-color: #4e5378;
}

.theme-light .payment-tab .friend-card__send:active {
  background-color: #364496;
}

.theme-dark .payment-tab .friend-card__send:active {
  background-color: #7b8bae;
}

.payment-tab .friend-card__send:focus {
  outline: none;
}

@media (max-width: 640px) {
  .payment-tab .friend-card {
    margin-top: 0;
  }
}

.payments-simplebar {
  height: 90%;
}

.payments-simplebar .simplebar-wrapper {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), to(transparent));
  -webkit-mask-image: linear-gradient(transparent, black, black, black, black, black, black, black, black, black, black, black, black, black, black, transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), to(transparent));
          mask-image: linear-gradient(transparent, black, black, black, black, black, black, black, black, black, black, black, black, black, black, transparent);
}

.payments-simplebar .simplebar-wrapper .simplebar-content-wrapper {
  padding: 0 40px;
}

@media (max-width: 640px) {
  .payments-simplebar .simplebar-wrapper .simplebar-content-wrapper {
    padding: 30px 10px;
  }
}

.payments-simplebar .simplebar-track.simplebar-vertical {
  width: 3px;
  overflow: visible;
  border-radius: 100px !important;
  margin: 2px 0;
}

.theme-light .payments-simplebar .simplebar-track.simplebar-vertical {
  background-color: rgba(17, 62, 130, 0.2);
}

.theme-dark .payments-simplebar .simplebar-track.simplebar-vertical {
  background-color: #1c1e24;
}

.payments-simplebar .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  margin-left: -4px;
  width: 7px;
  opacity: 1;
}

.theme-light .payments-simplebar .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: #364496;
}

.theme-dark .payments-simplebar .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: #7b8bae;
}

.buttons-container-payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.buttons-container-payments button {
  width: 40%;
  height: 40px;
  margin: 0 0 20px;
  border: 2px solid;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.6s ease-out, background-color 0.6s ease-out;
  transition: color 0.6s ease-out, background-color 0.6s ease-out;
}

.theme-light .buttons-container-payments button {
  border-color: #364496;
}

.theme-dark .buttons-container-payments button {
  border-color: #7b8bae;
}

.theme-light .buttons-container-payments button {
  background-color: #fff;
}

.theme-dark .buttons-container-payments button {
  background-color: #24272e;
}

.theme-light .buttons-container-payments button {
  color: #364496;
}

.theme-dark .buttons-container-payments button {
  color: #7b8bae;
}

.buttons-container-payments button:focus {
  outline: none;
}

.theme-light .buttons-container-payments button:hover {
  border-color: #131e56;
}

.theme-dark .buttons-container-payments button:hover {
  border-color: #4e5378;
}

.theme-light .buttons-container-payments button:hover {
  background-color: #131e56;
}

.theme-dark .buttons-container-payments button:hover {
  background-color: #4e5378;
}

.theme-light .buttons-container-payments button:hover {
  color: #fff;
}

.theme-dark .buttons-container-payments button:hover {
  color: #fff;
}

.theme-light .buttons-container-payments button:active {
  border-color: #364496;
}

.theme-dark .buttons-container-payments button:active {
  border-color: #7b8bae;
}

.theme-light .buttons-container-payments button:active {
  background-color: #364496;
}

.theme-dark .buttons-container-payments button:active {
  background-color: #7b8bae;
}

.theme-light .buttons-container-payments button:active {
  color: #fff;
}

.theme-dark .buttons-container-payments button:active {
  color: #fff;
}

.theme-light .buttons-container-payments button.--active {
  border-color: #364496;
}

.theme-dark .buttons-container-payments button.--active {
  border-color: #7b8bae;
}

.theme-light .buttons-container-payments button.--active {
  background-color: #364496;
}

.theme-dark .buttons-container-payments button.--active {
  background-color: #7b8bae;
}

.theme-light .buttons-container-payments button.--active {
  color: #fff;
}

.theme-dark .buttons-container-payments button.--active {
  color: #fff;
}

@media (min-width: 1000px) {
  .buttons-container-payments button {
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    pointer-events: none;
    cursor: default;
    margin: 0;
  }
  .theme-light .buttons-container-payments button {
    background-color: #fff;
  }
  .theme-dark .buttons-container-payments button {
    background-color: #24272e;
  }
  .theme-light .buttons-container-payments button {
    color: #000;
  }
  .theme-dark .buttons-container-payments button {
    color: #fff;
  }
  .buttons-container-payments button.--active {
    border: none;
  }
  .theme-light .buttons-container-payments button.--active {
    background-color: #fff;
  }
  .theme-dark .buttons-container-payments button.--active {
    background-color: #24272e;
  }
  .theme-light .buttons-container-payments button.--active {
    color: #000;
  }
  .theme-dark .buttons-container-payments button.--active {
    color: #fff;
  }
  .buttons-container-payments button.--hidden {
    display: none;
  }
}

@media (max-width: 640px) {
  .buttons-container-payments {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=payment-tab.css.map */