$themes: (
  light: (
    primary-dark: #131e56,
    primary-light: #364496,
    secondary: #08d5e8,
    ternary: #e83508,
    background: #fff,
    popup-bg: rgba(255, 255, 255, 0.9),
    accent1: #71bddd,
    accent2: #2dbfa0,
    accent3: #dacfaa,
    accent4: #c3cdd8,
    accent5: #5461b5,
    accent6: #e67052,
    accent7: #69d1d1,
    accent8: #dfbc63,
    accent9: #6775bb,
    accent10: #7c7c7c,
    text-color: #000,
    text-reversed: #fff,
    outline-color: rgba(#113e82, 0.2)
  ),
  dark: (
    primary-dark: #131e56,
    primary-light: #364496,
    secondary: #08d5e8,
    ternary: #08d5e8,
    background: rgb(32, 32, 32),
    popup-bg: rgba(32, 32, 32, 0.9),
    accent1: #71bddd,
    accent2: #2dbfa0,
    accent3: #dacfaa,
    accent4: #c3cdd8,
    accent5: #5461b5,
    accent6: #e67052,
    accent7: #69d1d1,
    accent8: #dfbc63,
    accent9: #6775bb,
    accent10: #7c7c7c,
    text-color: #fff,
    text-reversed: #000,
    outline-color: rgba(#08d5e8, 0.2)
  )
);

$cbInOut: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$cbIn: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$cbOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$cbSlowIn: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$cbSlowInMild: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$cbSlowOut: cubic-bezier(0.075, 0.82, 0.165, 1);

@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}

@mixin themed-shadow($hoffset, $voffset, $blur, $spread, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      box-shadow: #{$hoffset}px
        #{$voffset}px
        #{$blur}px
        #{$spread}px
        map-get(map-get($themes, $theme-name), $color);
    }
  }
}

@mixin themed-stroke($size, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      border: solid #{$size}px map-get(map-get($themes, $theme-name), $color);
    }
  }
}

@mixin fade-masking {
  mask-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    transparent
  );
}

@mixin themed-linear-gradient($color1, $color2) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      background: linear-gradient(
        map-get(map-get($themes, $theme-name), $color1),
        map-get(map-get($themes, $theme-name), $color2)
      );
    }
  }
}

// --- MEDIA QUERYS ---

@mixin width1920 {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin width1500 {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin width1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin width1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin width1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin width768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin width640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin width360 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin widthAbove1000 {
  @media (min-width: 1000px) {
    @content;
  }
}
